.header {
  display: flex;
  justify-content: space-between;
  background-color: $color-3;
  margin-top: 0;
  margin-left: -$padding-x;
  margin-right: -$padding-x;
  align-items: center;
}

.header.light {
  background-color: $color-3;
}

.header.dark {
  background-color: black;
}