$color-1: rgb(219, 158, 45);;
$color-2: black;
$color-3: lightblue;
$color-4: white;

$padding-x: 2.5em;

html, body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
}

.content {
  margin: 0 $padding-x;
  width: auto;
}

